@import '../config';

main.main-menu {
    @include Fullscreen;
    overflow: hidden;
    @include Flex(c, c, c);
    padding: 2em;   

    p.source-redirect {
        position: absolute;
        right: 6px;
        top: 6px;
        font-size: .65rem;
        color: $clr-grey;
        cursor: pointer;
        transition: .3s;

        &:hover { color: $clr-bluel; }
    }

    div.bg-icons {
        position: absolute;
        left: 0;
        top: 0;
        @include Fullscreen;
        overflow: hidden;

        span.bg-ic {
            @include Rectangle(5rem);
            opacity: .1;
            position: absolute;
    
            $lefts: (
                15%, 82%, 15%, 82%, 15%, 82%
            );
            $bottoms: (
                50%, 50%, 15%, 15%, 82%, 82% 
            );
    
            @for $i from 1 through 6 {
                &.n#{$i} {
                    left: nth($lefts, $i);
                    bottom: nth($bottoms, $i);
                }
            }
        }
    }

    div.wrap {
        height: 100%;
        @include Flex(sa, c, c);

        section.header-text {
            text-align: center;

            h1.title {
                font-weight: 800;
                letter-spacing: -1px;
                @include Clamp(3.25, 10, 4);
                font-family: 'Roboto Slab', serif;
            }

            h2.desc {
                font-family: 'Roboto Slab', serif;
                font-weight: 300;
            }
        }

        section.options {
            @include SetWidth(250, 30vw, 450);

            button {
                display: block;
                width: 100%;
                padding: 1.2em 0;
                @include NotMargin(1);
                background: $clr-blued;
                border-radius: .2em;
                z-index: 2;
                position: relative;
                outline: 0;
                border: 0;
                transition: .3s;
                cursor: pointer;

                label {
                    color: $clr-white;
                    font-weight: 500;
                    letter-spacing: 1px;
                    @include Clamp(.9, 4, 1);
                }

                &:hover {
                    background: royalblue;
                }

                &.disable {
                    background: $clr-red;
                    pointer-events: none;
                }
            }
        }
    }
}