@import '../config';

main.main-menu {
    @include Fullscreen;
    @include Flex(c, c, c);
    padding: 2em;   

    p.source-redirect {
        position: absolute;
        right: 6px;
        top: 6px;
        font-size: .65rem;
        color: $clr-grey;
        cursor: pointer;
        transition: .3s;

        &:hover { color: $clr-bluel; }
    }

    span.bg-ic {
        position: absolute;
        @include Rectangle(5rem);
        opacity: .1;

        $lefts: (
            15%, 82%, 15%, 82%, 15%, 82%
        );
        $bottoms: (
            50%, 50%, 15%, 15%, 82%, 82% 
        );

        @for $i from 1 through 6 {
            &.n#{$i} {
                left: nth($lefts, $i);
                bottom: nth($bottoms, $i);
            }
        }
    }

    div.wrap {
        height: 100%;
        @include Flex(sa, c, c);

        section.header-text {
            text-align: center;

            h1.title {
                font-weight: 800;
                letter-spacing: -1px;
                font-size: 4rem;
                font-family: 'Roboto Slab', serif;
            }

            h2.desc {
                font-family: 'Roboto Slab', serif;
                font-weight: 300;
            }
        }

        section.options {
            @include SetWidth(225, 30vw, 400);

            button {
                display: block;
                width: 100%;
                padding: 1.2em 0;
                @include Not_Margin(1);
                background: $clr-blued;
                border-radius: .2em;
                outline: 0;
                border: 0;
                transition: .3s;
                cursor: pointer;

                label {
                    color: $clr-white;
                    font-weight: 500;
                    letter-spacing: 1px;
                }

                &:not(.about):hover {
                    background: royalblue;
                }

                &.about {
                    background: $clr-red;

                    &:hover { background: crimson; }
                }
            }
        }
    }
}