@import '../config';

main.contact {
    @include Flex(c, c, c);
    padding: 2em clamp(.5em, 5vw, 2em);

    span.background-icon {
        @include Absolute(50%, 50%);
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        width: 40vw;
        z-index: -1;
        opacity: .05;
        color: #606060;
    }

    h1 {
        @include Header(clamp(2rem, 8vw, 2.75rem), 1.5em);
        text-align: center;
    }

    div.container {
        @include Flex(sb);
        align-items: stretch;
        width: 100%;

        section {
            @include SetWidth(450, 40%, 800);
            display: flex;
            flex-direction: column;

            article {
                background: #1b1d22;
                border: 2px solid rgb(61, 61, 61);
                border-radius: .75em;
                padding: 1.5em;
                flex-grow: 1;
            }

            p.header {
                font-weight: 800;
                font-size: .85rem;
                margin-bottom: 2em;
                text-align: center;
                text-transform: uppercase;
            }

            &.contact {
                p {                    
                    &.author {
                        border-left: 2px solid $clr-blued;
                        padding: .75em 0 .75em 1em;
                        @include Flex(none, c);
                        @include Clamp(.85, 4, 1);

                        span {
                            margin-left: .5em;
                            @include Clamp(.85, 4, 1);

                            &.name,
                            &.mail {
                                font-family: 'Roboto Slab', serif;
                                color: $clr-grey;
                            }

                            &.github,
                            &.clipboard {
                                @include Rectangle(30px);
                                cursor: pointer;
                                transition: .3s;

                                &:hover { color: $clr-bluel; }
                            }
                        }
                    }
                }
            }   

            &.about {
                p {
                    &.welcome {
                        font-weight: 600;
                        font-family: 'Roboto Slab', serif;
                        margin-bottom: 2em;

                        span {
                            font-weight: 800;
                            color: $clr-bluel;
                        }
                    }

                    &.text {
                        font-size: .9rem;
                        margin-bottom: 1.5em;
                    }
                }

                h3 {
                    text-transform: uppercase;
                    font-family: 'Roboto Slab', serif;
                    font-weight: 700;
                    margin-bottom: 1em;
                    font-size: .85rem;
                }

                ol {
                    list-style: none;
                    counter-reset: item;

                    li {
                        counter-increment: item;
                        padding: .25em 0;
                        color: $clr-grey;
                        font-weight: 300;
                        @include Clamp(.9, 4, 1);

                        &::before {
                            content: counter(item);
                            font-size: .7rem;
                            font-weight: 800;
                            margin-right: .75em;
                            color: $clr-grey;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        div.container {
            flex-direction: column;
            
            section {
                @include ResetWidth;
                width: 100%;

                &.contact {
                    margin-top: 3em;
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 2em .25em;

        div.container {
            section {
                article {
                    padding: .5em;
                }

                &.contact {
                    p { 
                        &.author { 
                            border: 0; 
                            padding: .75em 0;
                        } 
                    }
                }
            }
        }
    }
}