@import '../config';

section.game-section {
    height: 100vh;
    @include Flex(sb, c, c);
    @include SetWidth(550, 50vw, 800);
    margin: 0 auto;
    padding: 3em 0;
    
    h1 {
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
    }

    ul {
        width: 80%;
        list-style: none;

        li {
            width: 100%;
            padding: 2em;
            background: $clr-blued;
            border-radius: .15em;
            margin: .25em 0;
            text-align: center;
            cursor: pointer;
            font-weight: 500;
        }
    }
}