@import '../config';

main.lobby-options {
    @include Fullscreen;
    @include Flex(c, c, c);

    form.wrap {
        background: #1b1d22;
        padding: 2em;
        @include SetWidth(440, 40vw, 700);

        h1 {
            @include Header(clamp(1.75rem, 10vw, 2.25rem));
        }

        div.input-container {
            margin-bottom: 1em;

            label {
                display: block;
                font-size: .7rem;
                text-transform: uppercase;
                font-weight: 600;
                font-family: 'Roboto Slab', serif;
                margin-bottom: .25em;
            }

            input {
                color: $clr-grey;
                padding: .75em;
                background: #282c34;
                border: 0;
                border-radius: 1em;
                font-size: .9rem;
                outline: 0;
                width: 100%;
                appearance: textfield;
            }
        }

        button {
            cursor: pointer;
            transition: .3s;
            padding: .75em 1.5em;
            background: $clr-blued;
            border-radius: .2em;
            margin-top: 2em;
            outline: 0;
            border: 0;

            label {
                color: $clr-white;
                font-size: .9rem;
            }

            &:hover { background: royalblue; }
        }

        @media (max-width: 480px) {
            @include ResetWidth;
            width: 95%;
            padding: 2em 1em;
        }
    }
}