/*
font-family: 'Inter', sans-serif;
font-family: 'Roboto Slab', serif;
*/

@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

div#root,
div.App {
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

body {
    background: #282c34;
    min-height: 100vh;
    color: $clr-white;
    overflow-x: hidden;
    width: 100vw;

    svg {
        pointer-events: none;
        @include FullSize;
    }

    span.home-icon {
        position: fixed;
        left: 6px;
        top: 6px;
        @include Rectangle(25px);
        cursor: pointer;
        z-index: 9;
    }

    div.error-lobby {
        position: fixed;
        left: 50%;
        top: 0;
        translate: -50% 100%;
        padding: 1em 1.5em;
        border-radius: .5em;
        background: $clr-red;
        width: max-content;

        &.categories {
            translate: -50% 50%;
        }
    }

    div.question-timer-div {
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100vh;
        background: orangered;
    }
}